.header {
  font-family: "Ubuntu", sans-serif;
  .logo {
    margin-top: -10px;
  }

  @include breakpoint-up(large) {
    padding: 60px 165px;
  }

  @include breakpoint-down(medium) {
    padding: 50px 20px;
  }

  .header-links {
    margin-right: 500px;
    font-family: "Ubuntu", sans-serif;
    .navlink {
      font-size: 1.1rem;
      font-weight: 700;
      color: $white;
    }
    .navlink:not(:last-child) {
      margin-right: 50px;
    }
    .navlink::after {
      content: url(../../images/icon-arrow-light.svg);
      margin-left: 5px;
    }

    .navlink:hover ~ .section {
      display: block;
    }

    .section {
      // margin-top: 10px;
      background-color: $white;
      padding: 10px 20px;
      border-radius: 10%;
      // height: 120px;
      line-height: 1.5;
      width: 120px;
      margin-right: 10px;
      display: none;
      position: absolute;
      &:hover {
        display: block;
      }
      a {
        display: block;
      }
      a:hover {
        font-weight: 700;
      }
    }
    .sectionlink {
      color: black;
    }
  }
}

.login {
  margin-right: 30px;
  color: $white;
  font-size: 1.15rem;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
}
