.header {
    font-family: 'Ubuntu', sans-serif;
  a {
    font-size: 1.1rem;
    font-weight: 700;
    color: $white;
  }

  .logo {
    margin-top: -10px;
  }

  @include breakpoint-up(large) {
    padding: 60px 165px;
  }

  @include breakpoint-down(medium) {
    padding: 50px 20px;
  }

  .header-links {
    margin-right: 600px;
    font-family: "Ubuntu", sans-serif;
    a:not(:last-child) {
      margin-right: 50px;
    }
    a::after {
      content: url(../../images/icon-arrow-light.svg);
      margin-left: 5px;
    }
    
  }
}

.login {
    margin-right: 30px;
}