.hero {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    padding-top: 60px;
    padding-bottom: 150px;
    p {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    button {
        font-family: 'Ubuntu', sans-serif;
    }

    .start-btn {
        margin-right: 10px;
    }
    .learn-btn {
        margin-left: 10px;
    }

}