@import "variable";
@import "mixins";
@import "animations";

@import "global";
@import "header";
@import "hero";

.container {
  background: url(../../images/bg-pattern-intro.svg) no-repeat 43% 37%/625%,
    linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-bottom-left-radius: 145px;
  color: $white;
  background-size: cover;
}
